@import "settings";
@import "foundation";

body {
	background: none repeat scroll 0 0 #eceef1;
	color: #383939;
	font: 13px/1.5 "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.container {
	max-width:900px;
	margin:auto;
	margin-top:20px;
	margin-bottom:20px;
	border-radius: 4px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	background:#fff;

	position:relative;
}

header {
	@include clearfix;
	padding: 30px;
}



.main {
	padding-top: 32px;
	min-height: 320px;
}
#badge {
	position: absolute;
	right: -80px;
	top: -24px;
}


p, ul {
	font-size:14px!important;
}

h1, h2 {
	font-size:12px;
	text-transform:uppercase;
	font-weight:bold;
}
h2 {
	color:#777;
}

//HomePage

@media #{$medium-up} {
	.HomePage {
		.main {
			background:url("/mysite/images/silverstripe-heart.jpg") no-repeat;
			background-size:cover;
			
			h1 {
				display:block;
				font-size:30px;
				width:450px;
				color:#fff;
				small {
					display: inline-block;
					color:#333;
					font-size:20px;
					width:450px;
				}
			}
		}
	}
}



//SpeakersPage

@media #{$medium-up} {
	.SpeakersPage {
		.columns.text {
			padding-left:0px;
		}
	}
}
.SpeakersPage {
	.speaker {
		margin-bottom:20px;
		
		h2 {
			small {
				text-transform:none;
				font-size:80%;
				font-style:italic;
			}
		}
	}
}


//ProgramPage

.ProgramPage {
	.day {
		h3 {
			.day {
				display: block;
				font-size:24px;
				color:#777;
				text-transform:uppercase;
			}
			.date {
				font-style:italic;
				font-size:14px;
				display:block;
			}
		}
	}
	.item {
		margin-bottom:30px;
		h4 {
			.time {
				display:block;
				color:#777;
				font-size:11px;
			}
			.title {
				display:block;
				font-size:14px;
				font-weight: bold;
				color: $primary-color;
			}
		}
		.speaker {
			display:block;
			color:#777;
			font-size:11px;
			font-style:italic;
		}
	}
}




@import "mobile";