@import "settings";
@import "foundation";

$color-blue: #005A92;
$color-light-grey: #ECEEF1;

body {
	background: none repeat scroll 0 0 #eceef1;
	color: #383939;
	font: 13px/1.5 "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.container {
	max-width:900px;
	margin:auto;
	margin-top:20px;
	margin-bottom:6px;
	border-radius: 4px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	background:#fff;

	position:relative;
}

header {
	@include clearfix;
	padding: 30px;
}



.main {
	padding-top: 32px;
	min-height: 320px;
}
#badge {
	position: absolute;
	right: -80px;
	top: -24px;
}

.credits {
	text-align: center;
	padding-bottom:20px;
	a {
		color:#999;
		&:hover {
			text-decoration: underline;
		}
	}
}


p, ul {
	font-size:14px!important;
}

h1, h2, h3, h4, h5, h6 {
	color: $color-blue;
	font-weight: 300;

	small, .small {
		text-transform: none;
		font-size: 70%;
		color: #000;
		//font-style: italic;
	}
	&.hr {
		border-bottom: 1px solid $color-blue;
	}
}

h1, h2 {
	font-size:28px;
	text-transform:uppercase;
}
h2 {
	font-size: 24px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 18px;
}

h5  {
	font-size: 16px;
}

h4 {
	p {
		text-transform: none;
	}
}


//HomePage

@media #{$medium-up} {
	.HomePage {
		.main {
			background:url("/mysite/images/silverstripe-heart.jpg") no-repeat;
			background-size:cover;

			h1 {
				display:block;
				font-size:30px;
				width:450px;
				color:#fff;
				small {
					display: inline-block;
					color:#333;
					font-size:20px;
					width:450px;
				}
			}
		}
	}
}



//SpeakersPage

@media #{$medium-up} {
	.SpeakersPage {
		.columns.text {
			padding-left:0px;
		}
	}
}
.SpeakersPage {
	.speaker {
		margin-bottom: 20px;
	}
}

.days {
	.day {
		table {
			width: 100%;
			border: 0;
			border-spacing: 10px;

			tr {
				background: transparent;

				td {
					vertical-align: top;
					background: transparent;

					&.time {
						padding: 0;

						span {
							background: $color-blue;
							padding: 5px 10px;
							color: #FFF;
							display: block;
						}
					}
					&.talk {
						background: $color-light-grey;
						padding: 5px 10px;

						.talk-container {
 						}
						h5 {
							margin-top: 0;
						}
						h6 {
							color: #000;
							font-weight: bold;
							font-size: 13px;
							margin: -8px 0 8px;
						}
					}
				}
			}
		}
	}
}

////ProgramPage
//
//.ProgramPage {
//	.day {
//		h3 {
//			.day {
//				display: block;
//				font-size:24px;
//				color:#777;
//				text-transform:uppercase;
//			}
//			.date {
//				font-style:italic;
//				font-size:14px;
//				display:block;
//			}
//		}
//	}
//	.item {
//		margin-bottom:30px;
//		h4 {
//			.time {
//				display:block;
//				color:#777;
//				font-size:11px;
//			}
//			.title {
//				display:block;
//				font-size:14px;
//				font-weight: bold;
//				color: $primary-color;
//			}
//		}
//		.speaker {
//			display:block;
//			color:#777;
//			font-size:11px;
//			font-style:italic;
//		}
//	}
//}




@import "mobile";